/* ------------------------------------------------------------------------------ */
/* ----- Big Tablets & Laptops (990px-1200px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 1200px) {
    
}

/* ------------------------------------------------------------------------------ */
/* ----- Tablets (768px-990px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 990px) {

}

/* ------------------------------------------------------------------------------ */
/* ----- Big Phones/Small Tablets (581px-767px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 767px) {

}

/* ------------------------------------------------------------------------------ */
/* ----- Big Phones (481px-580px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 580px) {
    .name {
        font-size: 400%;
    }

    .TTC {
        width: 300px;
        height: 150px;
        margin-bottom: 5%;
    }

    .UKG {
        width: 300px;
        height: 180px;
        margin-bottom: 5%;
    }

    .CognisantMD {
        width: 300px;
        height: 160px;
    }
}

/* ------------------------------------------------------------------------------ */
/* ----- Small Phones (300px-480px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 480px) {
    .name {
        font-size: 300%;
    }
}


/* ------------------------------------------------------------------------------ */
/* ----- VERY Small Phones (300px-480px) ----- */
/* ------------------------------------------------------------------------------ */
@media only screen and (max-width: 300px) {
    .name {
        font-size: 200%;
    }
}