* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: azure;
    font-family: "Hind", sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
    overflow: hidden !important;
    text-decoration: none;
    position: absolute;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

/* ------------------------------------------------------------------------------ */
/* ----- Big Tablets & Laptops (990px-1200px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 1200px) {
    .TTC {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .UKG {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .CognisantMD {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/* ------------------------------------------------------------------------------ */
/* ----- Tablets (768px-990px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 990px) {
    .leftBox, .rightBox {
        float: none;
        width: 100%;
    }

    .rightBox {
        padding-bottom: 30px;
    }

    .aboutMeText {
        margin-right: 50px;
        margin-left: 50px;
    }

    .imgContainer {
        width: 100%;
    }

    .TTC {
        width: 350px;
    }

    .UKG {
        width: 350px;
    }

    .CognisantMD {
        width: 350px;
    }

    .aboutMe, .contact, .experience, .landing, .projects {
        scroll-snap-align: unset;
    }

    .sections {
        scroll-snap-type: none;
    }
}

/* ------------------------------------------------------------------------------ */
/* ----- Big Phones/Small Tablets (581px-767px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 767px) {
   
}

/* ------------------------------------------------------------------------------ */
/* ----- Big Phones (481px-580px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 580px) {
    .name {
        font-size: 400%;
    }

    .TTC {
        width: 300px;
        height: 180px;
    }

    .UKG {
        width: 300px;
        height: 180px;
    }

    .CognisantMD {
        width: 300px;
        height: 180px;
        margin-left: -20px;
    }

    .subText {
        margin-right: 20px;
        margin-left: 20px;
    }

    .experienceTitle {
        font-size: 3em;
    }

    .socialBtn {
        font-size: 280%;
    }

    .navDisplay{
        width: 100%;
        right: -100%;
    }

    ul {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

/* ------------------------------------------------------------------------------ */
/* ----- Small Phones (320px-480px) ----- */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 480px) {
    .name {
        font-size: 300%;
    }

    .title {
        font-size: 2.5em;
    }

    .experienceTitle {
        font-size: 2.5em;
    }

    .projectCard {
        min-height: 500px;
        width: 300px;
    }

    .Kav {
        width: 250px;
        height: 250px;
    }

    .socialBtn {
        font-size: 300%;
        margin: 10px;
    }

    .aboutMeTitle {
        font-size: 2.5em;
    }
}


/* ------------------------------------------------------------------------------ */
/* ----- VERY Small Phones (0px-320px) ----- */
/* ------------------------------------------------------------------------------ */
@media only screen and (max-width: 320px) {
    .name {
        font-size: 230%;
    }

    .TTC {
        width: 230px;
        height: 150px;
    }

    .UKG {
        width: 230px;
        height: 150px;
        padding: 40px;
    }

    .CognisantMD {
        width: 230px;
        height: 150px;
    }

    .projectCard {
        width: 270px;
    }
}