.experience {
    width: 100%;
    background-color: #112240;
    opacity: 0.98;
    height: auto;
    min-height: 100%;
    position: relative;
    scroll-snap-align: start;
    text-align: center;
}

.imageContainer {
    height: 100%;
    width: 100%;
    text-align: center;
    transition: none;
}

.TTC {
    width: auto;
    height: 200px;
    border-radius: 10%;
    margin-right: 20px;
    transition: none;
}

.UKG {
    width: auto;
    height: 200px;
    padding: 50px;
    border-radius: 10%;
    margin-right: 20px;
    transition: none;
}

.CognisantMD {
    width: auto;
    height: 200px;
    border-radius: 10%;
    transition: none;
}

.experienceTitle {
    color: azure;
    font-size: 4em;        
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 50px;
    padding-bottom: 10%;
}