.experience {
    width: 100%;
    background-color: #112240;
    opacity: 0.98;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
}

.imageContainer {
    height: 100%;
    width: 100%;
    padding-top: 10%;
    text-align: center;
}

.TTC {
    width: 400px;
    height: 200px;
    background-color: azure;
    border-radius: 10%;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.TTC:hover {
    opacity: 0.7;
}

.UKG {
    width: 350px;
    height: 200px;
    padding: 50px;
    background: azure;
    border-radius: 10%;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.UKG:hover {
    opacity: 0.7;
}

.CognisantMD {
    width: 420px;
    height: 200px;
    background: azure;
    border-radius: 10%;
    transition: all 0.2s ease-in-out;
}

.CognisantMD:hover {
    opacity: 0.7;
}