.aboutMe {
    width: 100%;
    background-color: #112240;
    opacity: 0.98;
    height: auto;
    min-height: 100%;
    position: relative;
    scroll-snap-align: start;
}

.leftBox, .rightBox {
    margin: 0;
    width: 50%;
    padding: 0;
    height: calc(100vh - 70px);
}

.leftBox {
    float: left;
}

.rightBox {
    float: right;
}

.imgContainer {
    margin: auto;
    width: 50%;
    padding-top: 10%;
}

.Kav {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #ee8080;
}

.socialsContainer {
    margin: auto;
    width: 50%;
    margin-top: 5%;
    text-align: center;
    padding-left: 15px;
}

.socialBtn {
    margin-right: 15px;
}

.socialBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.aboutMeContainer {
    margin-top: 10%;
}

.aboutMeTitle {
    color: azure;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-left: 24%;
}

.aboutMeText {
    color: azure;
    font-size: 1em;
    margin-right: 30px;
    line-height: 25px;
    font-weight: 300;
}

.helloText {
    color: #ee8080;
    font-size: 2em;
}

.buttonContainer {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 8%;
}